<ion-view view-title="Stock">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="showOptions()"><i class="icon ion-ios-more"></i></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll-sista="header-tabs">
    <ion-list>
      <ion-item collection-repeat="category in stockCategories" class="item-divider">
        <span class="capitalize">{{category.category}}</span>
        <ion-option-button class="button-assertive" ng-click="removeCategory(category.id)"><i class="icon ion-minus-circled"></i></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-scroller-top css-class="button button-assertive scroll-button" offset="50" text="UP!" animate="true"></ion-scroller-top>
</ion-view>
