<ion-view view-title="Accounts">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="showOptions()"><i class="icon ion-ios-more"></i></button>
  </ion-nav-buttons>
  <ion-content padding="true" overflow-scroll=”true” scroll-sista="header-tabs">
    <div class="list">

      <div class="item item-divider">
        Candy Bars
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>

    </div>
  </ion-content>
  <ion-scroller-top css-class="button button-assertive scroll-button" offset="100" text="UP!" animate="true"></ion-scroller-top>
</ion-view>
