<ion-view view-title="Transactions on: {{selectedDate}}">
  <ion-content padding="true" overflow-scroll=”true” scroll-sista="header-tabs">
    <ion-list>
      <div class="card" ng-repeat="(key, values) in transactionList track by key">
        <div class="item item-divider">
          {{::values[0].name}}
        </div>
        <div class="item item-text-wrap" ng-repeat="value in ::values">
          <p>{{::value.itemname}} ({{::value.category}})</p>
          <p>{{::value.qty}} X {{::value.price | currency:"KWD"}} = {{::(value.qty * value.price) | currency:"KWD"}}</p>
        </div>
        <div class="item item-divider">
          <span>Total:</span><span class="pull-right">{{::values[0].total | currency:"KWD"}}</span>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <ion-scroller-top css-class="button button-assertive scroll-button" offset="100" text="UP!" animate="true"></ion-scroller-top>
</ion-view>
