<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add new Item</h1>
    <button class="button" ng-click="closeAddModal()"><i class="icon ion-android-cancel"></i></button>
  </ion-header-bar>
  <ion-content>
    <form name="addItemForm" ng-submit="createNewItem(addItemForm.$valid);" novalidate>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Barcode" disabled ng-model="itemObj.barcode">
          </label>
          <button class="button button-small button-calm" ng-click="scan();">
            Scan
          </button>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label calm">Item Name</span>
          <input type="text" placeholder="Item Name" ng-model="itemObj.itemname" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label calm">Item Description</span>
          <textarea placeholder="Item Description" ng-model="itemObj.itemdesc"></textarea>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label calm">Item Price</span>
          <input type="number" placeholder="Item Price" ng-model="itemObj.itemprice" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label calm">Item Quantity</span>
          <input type="number" placeholder="Item Quantity" ng-model="itemObj.itemqty" required>
        </label>
      </div>
      <div class="padding-horizontal">
        <button type="submit" class="button button-block button-dark">Add Item</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
