<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add Transaction</h1>
    <button class="button" ng-click="closeModal()"><i class="icon ion-android-cancel"></i></button>
  </ion-header-bar>
  <ion-content>
    <form name="addTransactionForm" ng-submit="createTransaction(addTransactionForm.$valid);" novalidate>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label calm">
            Select Customer:
          </div>
          <select name="customerSelect" id="customerSelect" ng-model="transactionObj.customerId" required>
            <option ng-repeat="option in customers" value="{{option.id}}">{{option.name}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label calm">
            Select Category:
          </div>
          <select name="categorySelect" id="categorySelect" ng-model="tempTransactionObj.categoryId" required>
            <option ng-repeat="option in categories" value="{{option.id}}">{{option.category}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label calm">
            Select Item:
          </div>
          <select name="categorySelect" id="categorySelect" ng-model="tempTransactionObj.itemId" required>
            <option ng-repeat="option in itemList" value="{{option.id}}">{{option.itemname}}</option>
          </select>
        </label>
        <div class="row">
          <div class="col">
            <label class="item item-input item-stacked-label">
              <span class="input-label calm">Item Qty</span>
              <input type="number" placeholder="Select Item first" ng-model="tempTransactionObj.qty" ng-disabled="!tempTransactionObj.itemId" min="1" max="{{selectedItemQty}}" required>
            </label>
          </div>
          <div class="col">
            <label class="item item-input item-stacked-label">
              <span class="input-label calm">Item Price</span>
              <input type="number" placeholder="Select Item First" ng-model="tempTransactionObj.price" ng-disabled="!tempTransactionObj.itemId" max="{{selectedItemPrice}}" required>
            </label>
          </div>
        </div>
      </div>
      <div class="padding-horizontal">
        <button type="submit" class="button button-block button-dark">Add Transaction</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
