<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add Transaction</h1>
    <button class="button" ng-click="closeModal()"><i class="icon ion-android-cancel"></i></button>
  </ion-header-bar>
  <ion-content>
    <form name="addTransactionForm" novalidate>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label calm">
            Customer:
          </div>
          <select name="customerSelect" id="customerSelect" ng-options="option.id as option.name for option in customers" ng-model="transactionObj.customerId" required>
            <option value="" >Select Customer</option>
          </select>
        </label>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-android-calendar placeholder-icon"></i>
            <input type="text" placeholder="Select Date" ng-click="openDatePicker();" ng-model="transactionObj.date" required>
          </label>
        </div>
        <label class="item item-input item-select">
          <div class="input-label calm">
            Category:
          </div>
          <select name="categorySelect" id="categorySelect" ng-options="option.id as option.category for option in categories" ng-model="tempTransactionObj.categoryId">
            <option value="">Select Category</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label calm">
            Item:
          </div>
          <select name="itemSelect" id="itemSelect" ng-options="option.id as option.itemname for option in itemList" ng-model="tempTransactionObj.itemId">
            <option value="">Select Item</option>
          </select>
        </label>
        <div class="row">
          <div class="col">
            <label class="item item-input item-stacked-label">
              <span class="input-label calm">Item Qty</span>
              <input type="number" placeholder="Select Item first" ng-model="tempTransactionObj.qty" ng-disabled="!tempTransactionObj.itemId" min="1" max="{{selectedItemQty}}">
            </label>
          </div>
          <div class="col">
            <label class="item item-input item-stacked-label">
              <span class="input-label calm">Item Price</span>
              <input type="number" placeholder="Select Item First" ng-model="tempTransactionObj.price" ng-disabled="!tempTransactionObj.itemId">
            </label>
          </div>
        </div>
        <div class="text-center">
          <button class="button button-positive icon-left ion-plus-circled" ng-click="AddItemInTransaction();">Add Item</button>
        </div>
        <div class="card" ng-repeat="item in transactionObj.transactionDetail">
          <div class="item item-divider">
            <div class="row">
              <div class="col col-90">
                <span class="capitalize">{{item.itemName}}</span>
              </div>
              <div class="col" ng-click="removeTransactionItem($index)">
                <i class="icon assertive ion-trash-a"></i>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <span class="padding-right">{{item.qty}}</span> X <span class="padding-horizontal">{{item.price | currency:"KWD"}}</span> <span class="padding-horizontal">=</span> {{item.qty * item.price | currency:"KWD"}}
          </div>
        </div>
      </div>
      <div class="padding-horizontal">
        <button type="submit" class="button button-block button-dark" ng-click="createTransaction(addTransactionForm.$valid);">Add Transaction</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
